<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoAutosplitterProto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <VideoAutosplitterProto.Properties.Settings>
            <setting name="GameProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="CropX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CropY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CropWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CropHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoDevice" serializeAs="String">
                <value />
            </setting>
        </VideoAutosplitterProto.Properties.Settings>
    </userSettings>
</configuration>
